.footer-container {
  background: linear-gradient(45deg, var(--gilded-gold), var(--charcoal-brown), var(--gilded-gold));
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: var(--off-white);
  animation: diagonalShift 8 ease infinite;
}
@keyframes diagonalShift {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.social-links {
  background-color: var(--off-white);
  display: inline-block;
  padding: 7px 7px 7px 7px;
  border-radius: 5px;
  border: 1px solid var(--off-white);
  color: var(--charcoal-brown);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-links:hover,
.social-links:focus {
  background-color: var(--gilded-gold);
  border-color: var(--gilded-gold);
  color: var(--charcoal-brown);
  cursor: pointer;
}

footer{
   color: var(--off-white);
  text-align: center;
  font-family: var(--font-family);
  font-size: 0.9rem;

  
  border-radius: var(--border-radius);


}

